/* reset */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body{
background-color: #A9A9A9;
}

/* js class added if done === true */
.to-do-done{
  text-decoration: line-through;
}

/* fas style */
.fas{
  color: #B22222;
  font-weight: bolder;
  cursor: pointer;
}

